@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0.5em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header .hamburger {
  width: 25px;
  height: 25px;
  margin: 0.5em 1em;
  cursor: pointer;
}

.header-brand {
  margin: auto 1rem;
  font-weight: 700;
  font-size: 2.2rem;
  padding-bottom: 0.4rem;
  width: 58vw;
}

.header .nav {
  position: absolute;
  height: 100vh;
  width: 14rem;
  padding: 10px;
  top: 10px;
  background: #f7f8fd;
  font-weight: 700;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  z-index: 100;
}

.header .nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.header .nav .navbar .navbar-item {
  list-style-type: none;
  margin: 1em;
}

.header .nav .navbar .navbar-item a {
  text-decoration: none;
  color: #1d2025;
}

.header .nav .menu-close {
  width: 15px;
  margin-left: 14px;
  margin-bottom: 4rem;
  cursor: pointer;
}

.header .cart {
  margin-right: 1rem;
  cursor: pointer;
}

.header .avatar {
  margin-right: 1rem;
  width: 35px;
  justify-self: flex-end;
}

.product-img {
  width: 100vw;
}

.product-info {
  padding: 1.5rem;
}

.product-info_company {
  text-transform: uppercase;
  font-weight: 700;
  color: #ff7d1a;
  margin: 1em 0;
  line-height: 1rem;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.product-info_desc {
  line-height: 1.5rem;
  color: #68707d;
  margin: 1rem 0;
}

.product-info_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.product-info_price .percent {
  color: #ff7d1a;
  font-weight: 700;
  background-color: #ffede0;
  border-radius: 5px;
  padding: 2px 5px;
}

.product-info__realprice {
  color: #b6bcc8;
  text-decoration: line-through;
  font-weight: 700;
  margin-bottom: 1rem;
}

.product-info .product-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f8fd;
  width: 90vw;
  height: 3rem;
  margin: 1.5rem auto;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  position: relative;
}

.product-info .product-amount .sign {
  width: 13px;
  cursor: pointer;
  text-align: center;
}

.product-info .product-amount input {
  border: none;
  background: transparent;
  width: 13rem;
  height: 2.2em;
  text-align: center;
}

.product-info .product-amount input:focus {
  outline: none;
}

.product .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 1rem;
  margin: auto;
  border-radius: 8px;
  border: none;
  background-color: #ff7d1a;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.product .cart-btn i {
  width: 2rem;
  margin-right: 1rem;
}

.product .cart-btn:hover {
  -webkit-transform: scale(101%);
          transform: scale(101%);
  background-color: #f59851;
}

.cart_list {
  position: absolute;
  top: 4.5em;
  background-color: white;
  height: 15rem;
  width: 95vw;
  left: 0.5em;
  margin: auto;
  color: black;
  border-radius: 11px;
  -webkit-box-shadow: 0.6px 0.7px 1em #8888;
          box-shadow: 0.6px 0.7px 1em #8888;
  visibility: hidden;
  overflow: scroll;
}

.cart_list.open {
  visibility: visible;
  opacity: 1;
}

.cart_list h3 {
  padding: 1rem 1rem;
  border-bottom: 1px solid #b6bcc8;
}

.cart_list .cart-empty {
  text-align: center;
  font-weight: 700;
  color: #b6bcc8;
  width: 10em;
  margin: 4em auto;
}

.product-in-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.product-in-cart .product-cart-thumbnail {
  margin: 1.2em 1em 0 1.2em;
  width: 15%;
  height: 3.5em;
  border-radius: 5px;
  background-image: url("/images/image-product-1-thumbnail.jpg");
  background-size: contain;
  background-position: center;
}

.product-in-cart .product-cart-info {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1.2em 0;
  padding: 0;
  line-height: 1.8em;
  color: #b6bcc8;
}

.product-in-cart .product-cart-info p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2em;
}

.product-in-cart .product-cart-info span {
  color: #1d2025;
  font-weight: 700;
  padding-left: 0.5em;
}

.product-in-cart .product-delete {
  margin: auto;
  width: 5%;
  cursor: pointer;
}

.cart-checkout_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 2em;
  background-color: #ff7d1a;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-left: 0.7em;
  bottom: 2em;
  visibility: hidden;
}

.cart-checkout_btn.open {
  visibility: visible;
}
/*# sourceMappingURL=index.css.map */